<!--//courses home page-->
<div class="container">
  <h2>Courses</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Course Name</div>
      <div class="col col-2">Description</div>
      <div class="col col-3">Duration</div>
      <div class="col col-4">No. of Days</div>
      <div class="col col-5">Coach</div>
      <div class="col col-6">Fees</div>
      <div class="col col-7">Time Slot</div>
      <div class="col col-8">No. of Students</div>
      <div class="col col-9">Available Slots</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="course_name">Java</div>
      <div class="col col-2" data-label="desc">A general based very popular programming language.</div>
      <div class="col col-3" data-label="duration">1 Month</div>
      <div class="col col-4" data-label="days">31</div>
      <div class="col col-5" data-label="coach">Prabhakar Sharma</div>
      <div class="col col-6" data-label="fees">5000</div>
      <div class="col col-7" data-label="slot">9:00-1:00 pm</div>
      <div class="col col-8" data-label="stud">25</div>
      <div class="col col-9" data-label="available_slots">5</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="course_name">Angular</div>
      <div class="col col-2" data-label="desc">A platform for building mobile and desktop applications.</div>
      <div class="col col-3" data-label="duration">1.5 Month</div>
      <div class="col col-4" data-label="days">20</div>
      <div class="col col-5" data-label="coach">Kush Bhardwaj</div>
      <div class="col col-6" data-label="fees">3500</div>
      <div class="col col-7" data-label="slot">1:00-3:00 pm</div>
      <div class="col col-8" data-label="stud">25</div>
      <div class="col col-9" data-label="available_slots">7</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="course_name">C++</div>
      <div class="col col-2" data-label="desc">It's an Object oriented Programming course.</div>
      <div class="col col-3" data-label="duration">1 Month</div>
      <div class="col col-4" data-label="days">28</div>
      <div class="col col-5" data-label="coach">Tara Agarwal</div>
      <div class="col col-6" data-label="fees">4000</div>
      <div class="col col-7" data-label="slot">3:00-6:00 pm</div>
      <div class="col col-8" data-label="stud">25</div>
      <div class="col col-9" data-label="available_slots">8</div>
    </li>
  </ul>
</div>
<app-login></app-login>
