<!--//courses home page-->
<div class="container">
  <h2>Courses</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Course Name</div>
      <div class="col col-2">Description</div>
      <div class="col col-3">Duration</div>
      <div class="col col-4">No. of Days</div>
      <div class="col col-5">Coach</div>
      <div class="col col-6">Fees</div>
      <div class="col col-7">Time Slot</div>
      <div class="col col-8">No. of Students</div>
      <!--<div class="col col-9">Available Slots</div>-->
      <div class="col col-10"> </div>
    </li></ul>
<ul class="responsive-table">
  <span *ngFor="let course of data.courses">
  <li class="table-header">
    <div class="col col-1">{{course.name}}</div>
    <div class="col col-2">{{course.desc}}</div>
    <div class="col col-3">{{course.duration}}</div>
    <div class="col col-4">{{course.days}}</div>
    <div class="col col-5">{{course.coach}}</div>
    <div class="col col-6">{{course.fees}}</div>
    <div class="col col-7">{{course.slot}}</div>
    <div class="col col-8">{{course.students}}</div>
    <!--<div class="col col-9">{{course.available}}</div>-->
    <div class="col col-10" ><button (click)="navigate(courses)"> Enrol </button> </div>
  </li></span></ul></div>
<!--<app-enroll [details]="details"></app-enroll>-->

